{% extends "base.html" %}
{%block sertificates%}
            <div class="sertificate__info">
                <div class="cont">
                    <div class="section__header">                       
                        <h2 class="section__title">Наши партнёры</h2>
                    </div>
                    
                    <div class="sertificate_text">
                        <p>С 1991 г. мы успешно специализируемся в области прямых поставок компьютерного оборудования, кондиционеров, печатающей техники, для научных и учебных организаций. За это время работы мы накопили большой опыт и наработали крепкие связи с ведущими производителями. В настоящий момент мы являемся официальнымы дилерами многих компаний.
                        </p>
                    </div>
                    
                    <div class="sertificates">                         
                        <div class="sertificate__item">
                            <div class="sertificate__item_border">   
                                <a href="/media/sertificates/1.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/1.jpg" alt="no-image" ></a>
                            </div>
                        <div class="sertificate__item_text">
                            <p> Сертификат от ТОО "Белый-Ветер KZ"</p>
                        </div>  
                    </div> 

                        <div class="sertificate__item">
                            <div class="sertificate__item_border">              
                                <a href="/media/sertificates/2.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/2.jpg" alt="no-image" ></a> 
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат от ТОО "ЭЛЬДА"</p>
                            </div>  
                        </div>      

                        <div class="sertificate__item">
                            <div class="sertificate__item_border">              
                                <a href="/media/sertificates/3.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/3.jpg" alt="no-image" ></a>  
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат торговой марки "SHIP"</p>
                            </div>  
                        </div>      

                        <div class="sertificate__item">
                            <div class="sertificate__item_border">             
                                <a href="/media/sertificates/4.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/4.jpg" alt="no-image" ></a> 
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат от компании "AIG GROUP EUROPE"</p>
                            </div>  
                        </div>      

                        <div class="sertificate__item">
                            <div class="sertificate__item_border">       
                                <a href="/media/sertificates/6.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/6.jpg" alt="no-image" ></a>   
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат от ТОО "Direct Distribution Company</p>
                            </div>  
                        </div>
                        
                        <div class="sertificate__item">
                            <div class="sertificate__item_border">       
                                <a href="/media/sertificates/7.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/7.jpg" alt="no-image" ></a>   
                            </div>
                            <div class="sertificate__item_text">
                                <p>Сертификат торговой марки "INTEL" </p>
                            </div>  
                        </div>
                        
                        <div class="sertificate__item">
                            <div class="sertificate__item_border">       
                                <a href="/media/sertificates/8.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/8.jpg" alt="no-image" ></a>   
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат торговой марки "INTEL"</p>
                            </div>  
                        </div>
                        
                        <div class="sertificate__item">
                            <div class="sertificate__item_border">       
                                <a href="/media/sertificates/9.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/9.jpg" alt="no-image" ></a>   
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат от ТОО "Алматинский Завод Оптоволоконной Продукции"</p>
                            </div>  
                        </div>
                        
                        <div class="sertificate__item">
                            <div class="sertificate__item_border">       
                                <a href="/media/sertificates/10.jpg" data-lightbox="test"><img class="sertificate__item_image" src="/media/sertificates/10.jpg" alt="no-image" ></a>   
                            </div>
                            <div class="sertificate__item_text">
                                <p> Сертификат Соответствия</p>
                            </div>  
                        </div>
                </div>
            </div>    
        </div>
{%endblock%}