{% extends "base.html" %}
{% block content%}
<div class="wrapperemail">                
    <div class="cont">
        <div class="container_email">
            <div class="content">
                <div>     
                    <div class="topic-text">Отправьте нам сообщение</div>
                        <p>
                                    Если у вас есть какие-то вопросы,
                                    предложения по сотрудничеству 
                                    заполните форму ниже.
                        </p>                                                        
                            <div class="form__item">                                
                                <h1> login </h1>    
                                <form method="POST" action="/users/check_data" >
                                    {% comment %}  {% endcomment %}
                                    {% csrf_token %} 
                                    <ul>
                                        {% for field, error_message in form.errors.items %}
                                            {% for message in error_message %}
                                                <p style="color: red;">{{ message }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                    {% if messages %}
                                    <ul>
                                        {% for message in messages %}
                                            <li style="color: green;">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                
                                <input name="login" type="text" class="" placeholder="Логин">
                                <input name="password" type="password" class="" placeholder="Пароль">
                                <button class="form__button" type="submit" >Авторизация</button>
                                
                                </form> 
                            </div>                            
                        </div>     
                    </div>
                </div>                                  
            </div>
        </div>
    </div>
</div>
{%endblock%}
