{% extends "base.html" %}
{%block main%}
<div class="intro" id="intro">                
    <div class="cont">
        <span class="intro_inner">
            <h1 class="intro_title" id="intro_title"> Добро пожаловать </h1> 
        </span>       
    </div>
</div>

<!--второй блок-->
<section class="section">
    <div class="cont">
        <div class="section__header">
            <h2 class="section__title">История о предприятии</h2>         
        </div>

        <div class="main__about">
            <div class="about__left_img">
                <img src="static/media/work/1.jpg" width="600" height="500" alt="mac">
            </div>
            <div class="about__right_text">                            
                <h1 class="h1_wrapper">ТОО "Микро–люкс" в соответствии с уставом с января 1991 года занимается внедрением IT–технологий, 
                    поставками и сервисным обслуживанием компьютерного оборудования и расходных материалов.
                    </h1>                            
            </div>                        
        </div>

        <div class="main__about">
            <div class="about__right_text">                            
                <h1 class="h1_wrapper">В настоящее время только в КарТУ им.Абылкаса Сагинова фирма обслуживает порядка 6000 единиц компьютерного и 500 единиц периферийного оборудования.</h1>
                
            </div> 
            <div class="about__left_img" width="600">
                <img src="static/media/work/2.jpg" width="600" height="500" alt="mac">
            </div>                                               
        </div>

        <div class="main__about">
            <div class="about__left_img" width="600">
                <img src="static/media/work/3.jpg" width="600" height="500" alt="mac">
            </div>
            <div class="about__right_text">                        
                <h1 class="h1_wrapper">В настоящее время ТОО «Микро–Люкс Сервис»</h1>
                <p class="p_wrapper">Выполняет работы по поставке, ремонту и техническому обслуживанию    </p>
                <ul class="ul_wrapper">
                    <li class="li_wrapper">- компьютерного оборудования</li>
                    <li class="li_wrapper">- печатающих устройств и сканеров</li>
                    <li class="li_wrapper">- сетевого оборудования</li>                               
                </ul>
            </div>                        
        </div>

        <div class="main__about">
            <div class="about__right_text">                            
                <h1 class="h1_wrapper">Команда профессионалов, работающая в нашей компании, сможет квалифицированно решить любую задачу, поставленную нашими партнерами, качественное решение которой складывается из многих составляющих.</h1>
                
            </div> 
            <div class="about__left_img" width="600">
                <img src="static/media/work/4.jpg" width="600" height="500" alt="mac">
            </div>                                               
        </div>
    </div>
</section>
<div class="statistics">
    <div class="cont">
        <div class="stat">
            <div class="stat__item">
                <div class="stat__count">1991</div>
                <div class="stat__text">Организованы</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">1000+</div>
                <div class="stat__text">Довольных клиентов</div>
            </div>                        
            <div class="stat__item">
                <div class="stat__count">24/7</div>
                <div class="stat__text">Поддержка в течении недели после выполнения заказа, в случае возникновения вопросов</div>
            </div>
        </div>             
    </div>
</div>
<div class="team">
    <div class="cont">
        <div class="section__header">
            <h2 class="section__title">Наша команда</h2>   
        </div> 
        <div class="team__inner">
            <div class="team__item">
                <img class="team__photo" src="static/media/card/aleksandr.png" style="width: 270px; height:290px ">
                <div class="team__name">Рыков Александр Сергеевич</div>
                <div class="team__prof">Директор</div>
                <div class="team__text">
                    <p>До 1991 года работал начальником отдела разработки и внедрения отраслевой АСУ Минвуза РК Регионального ИВЦ при КарПТИ.Контролирует соблюдение работниками трудовой и производственной дисциплины</p>
                </div>
            </div>  
            <div class="team__item">
                <img class="team__photo" src="static/media/card/masha.png" style="width: 270px; height:290px ">
                <div class="team__name">Ульрих Мария Валерьевна</div>
                <div class="team__prof">Заместитель Директора</div>
                <div class="team__text">
                    <p>Осуществляет контроль за финансово-хозяйственной деятельностью компании, обеспечивая эффективное и целевое использование материальных и финансовых ресурсов, снижение их потерь, ускорение оборачиваемости оборотных средств. </p>
                </div>
                <div class="team__social"></div>                    
            </div>   
            <div class="team__item">
                <img class="team__photo" src="static/media/card/pasha.png" style="width: 270px; height:290px ">
                <div class="team__name">Максимов Павел Павлович</div>
                <div class="team__prof">Администратор</div>
                <div class="team__text">
                    <p>Обработка поступивших заявок, помощь в ведении документации, главной задачей наладить деятельность всей фирмы, организовать плодотворную работу с посетителями</p>
                </div>
                <div class="team__social"></div>                    
            </div>   
            <div class="team__item">
                <img class="team__photo" src="static/media/card/nikita.png" style="width: 270px; height:290px ">
                <div class="team__name">Назаренко Никита Курбанович</div>
                <div class="team__prof">Ведущий инженер</div>
                <div class="team__text">
                    <p>Помощь и организация плана по решения поставленных задач сотрудникам фирмы. Обучение новых сотрудников профессиональной деятельности в рамках поставленных задач.
                    
                    Выполнение заявок повышенной сложности. </p>
                </div>
                <div class="team__social"></div>                    
            </div> 
            <hr class="hr">
            <div class="team__item">
                <img class="team__photo" src="static/media/card/stas.png" style="width: 270px; height:290px " >
                <div class="team__name">Андреев Станислав Юрьевич</div>
                <div class="team__prof">Инженер системо-техник</div>
                <div class="team__text">
                    <p></p>
                </div>
                <div class="team__social"></div>                    
            </div>   
            <div class="team__item">
                <img class="team__photo" src="static/media/card/daniil.png" style="width: 270px; height:290px ">
                <div class="team__name">Соколов Даниил Владимирович</div>
                <div class="team__prof">Инженер системо-техник</div>
                <div class="team__text">
                    <p></p>
                </div>
                <div class="team__social"></div>                  
            </div>   
        </div>
    </div>    
</div>            
{%endblock%}