{% extends "base.html" %}
{%block content%}
<div class="wrapperemail">                
    <div class="cont">
        <div class="container_email">
            <div class="content">                
                <div>     
                    <div class="topic-text">Отправьте нам сообщение</div>
                        <p>
                                    Если вы хотите заказать услугу то зарегистрируйтесь/авторизуйтесь.
                        </p>                                                        
                            <div class="form__item">                                
                                <form action="{%url 'registration'%}">                                  
                                <button class="form__button"  type="submit">Регистрация</button>                                
                                </form>
                            </div>
                            <div class="register">                                 
                                <form action="{%url 'check_data'%}">                                
                                <button class="form__button" type="submit">Авторизация</button>                                                               
                                </form> 
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
{%endblock%}