{% extends "base.html" %}

{%block services%}
            <section class="section">
                <div class="cont">
                    <div class="section__header">
                        <h3  class="section__title">Услуги</h3>                  
                    </div> 

                    <div class="services">
                        <div class="services__item">
                            <img class="services__icon" 
                            src="static/media/service/1.jpg" alt="">
                            <div class="services__title">ВОССТАНОВЛЕНИЕ ИНФОРМАЦИИ</div>
                            <div class="services__text">Восстановление информации с повреждённых/удалённых/форматированных 
                                разделов жёсткого диска</div>                            
                        </div>

                        <div class="services__item">
                            <img class="services__icon" 
                            src="static/media/service/2.jpg" alt="">
                            <div class="services__title">ДИАГНОСТИКА КОМПЬЮТЕРА</div>
                            <div class="services__text">Выявление проблем компьютера по которым он не включается, неисправно работает,
                                тормозит, виснет, периодически выключается, перегревается и т.д.</div>  
                        </div>

                        <div class="services__item">
                            <img class="services__icon" 
                            src="static/media/service/3.jpg" alt="">
                            <div class="services__title">Установка/Исправление ПО</div>
                            <div class="services__text">Установка ОС, ПО разной сложности, исправление ошибок ОС, 
                                настройка параметров BIOS и т.д.</div>  
                        </div>          
                        
                        <hr class="hr">
                        
                         <div class="services__item">
                            <img class="services__icon" 
                            src="static/media/service/4.jpg" alt="">
                            <div class="services__title">Картриджи</div>
                            <div class="services__text">Заправка, ремонт картриджей, поставка новых картриджей,
                                чернил. </div>                            
                        </div>

                        <div class="services__item">
                            <img class="services__icon" 
                            src="static/media/service/5.jpg" alt="">
                            <div class="services__title">Ремонт</div>
                            <div class="services__text">Ремонт принтеров, МФУ, плоттеров, сканеров.</div>  
                        </div>

                        <div class="services__item">
                            <img class="services__icon" 
                            src="static/media/service/6.jpg" alt="">
                            <div class="services__title">Кондиционеры</div>
                            <div class="services__text">настройка, ТО, монтаж/демонтаж кондиционеров</div>  
                        </div>  
                    </div>
                </div>
            </section>  
            
            <section class="section">
                <div class="cont">
                    <div class="section__header">                        
                        <h3 class="section__title">Прайс-Лист</h3>
                        <div class="section__item">
                            <h3 class="section__suptitle">Компьютеры сегодня есть у большинства людей. Но часто ли Вы проводите диагностику или ремонт своего ПК? А ведь рано или поздно с ремонтом компьютера приходится сталкиваться каждому пользователю. Выходят из строя отдельные его части, устаревает операционная система или же просто забивается пылью системный блок – в любом случае, требуется провести ремонт и обслуживание.

                                И в этом тонком деле не стоит полагаться на себя и свои знания. Лучше доверить компьютер специалистам, знающим толк в настройке и подборе комплектующих для Вашего ПК.
                                
                                 Мы предоставим Вам все услуги, необходимые для того, чтобы вдохнуть жизнь и вернуть работоспособность Вашей компьютерной технике.</h3>
                            <div class="tablemargin">
                                <table class="table">
                                <tr>
                                    <th>Наименование</th>
                                    <th>Стоимость</th>
                                </tr>
                                <tr>
                                    <td>Диагностика компьютера/ноутбука/моноблока (выявление неисправностей на программных и аппаратных уровнях)</td>
                                    <td>1500 ₸</td>
                                </tr>
                                <tr>
                                    <td>Установка ПО</td>
                                    <td>1000 — 5000 ₸</td>
                                </tr>
                                <tr>
                                    <td>Установка/переустановка ОС </td>
                                    <td>5000 ₸</td>
                                </tr>
                                <tr>
                                    <td>Восстановление данных из поврежденных секторов/удаленных разделов диска</td>
                                    <td>20000 ₸</td>
                                </tr>
                                <tr>
                                    <td>Тех обслуживание(чистка+замена термопасты, замена охлаждающей жидкости и прочистка всех каналов в СВО) </td>
                                    <td>1500 ₸</td>
                                </tr>                            
                                <tr>
                                    <td>Замена/установка комплектующих(не учитывая стоимость комплектующих)</td>
                                    <td>1500 ₸</td>
                                </tr>
                                </table> 
                            </div>
                        </div>    
                        
                        <div class="section__item">
                            <h3 class="section__suptitle">Как и любой технике, кондиционеру рано или поздно понадобится ремонт. Как говорится – ничто не вечно. Необходимо четко понимать, чтобы сократить вероятность поломки, за кондиционером необходимо ухаживать. Кондиционер может прийти в неисправное состояние по разным причинам. Наши специалисты проведут осмотр и полную диагностику Вашего кондиционера. Если возможен ремонт без демонтажа, ремонт произведется на месте. В ином случае наши специалисты самостоятельно демонтируют неисправный блок кондиционера и доставят в сервисный центр для последующего ремонта. 

                                Стоимость  ремонта кондиционера зависит от характера неисправности, а так же от типа и мощности кондиционера. Окончательная стоимость ремонта может быть определена после полной диагностики.</h3>
                            <div class="tablemargin">
                                <table class="table">
                                <tr>
                                    <th>Наименование</th>
                                    <th>Стоимость</th>
                                </tr>
                                <tr>
                                    <td>Монтаж/демонтаж внешнего блока кондиционера</td>
                                    <td>20000 ₸</td>
                                </tr>
                                <tr>
                                    <td>Монтаж/демонтаж внутреннего блока кондиционера</td>
                                    <td>10000 ₸</td>
                                </tr>
                                <tr>
                                    <td>Чистка фильтров внутреннего блока кондиционера </td>
                                    <td>от 3000 ₸</td>
                                </tr>
                                <tr>
                                    <td>Мойка наружного блока кондиционера</td>
                                    <td>от 5000 ₸</td>
                                </tr>
                                </table> 
                            </div>
                        </div>

                        <div class="section__item">
                            <h3 class="section__suptitle">Современная полноценная работа в офисе, дома или в любом госучреждении сегодня не обходится без исправно функционирующей оргтехники. МФУ, сканеры и принтеры существенно упрощают рабочий процесс, и даже малейшая неисправность может повлечь за собой приостановку рабочего процесса.

                                Наша компания предоставляет профессиональные услуги по обслуживанию монохромной и цветной лазерной печатающей техники форматов А4 и А3.
                                
                                Предоставление услуг выполняем как с выездом на локацию заказчика, так и в нашем сервисном центре.
                                
                                На период ремонта, при необходимости, предоставляем Клиенту подменную технику.</h3>
                            <div class="tablemargin">
                                <table class="table">
                                <tr>
                                    <th>Наименование</th>
                                    <th>Стоимость</th>
                                </tr>
                                <tr>
                                    <td>Заправка картриджа</td>
                                    <td>700 ₸</td>
                                </tr>
                                <tr>
                                    <td>Восстановление картриджа(замена ракеля, фотовала, коротрона)</td>
                                    <td>1280 ₸</td>
                                </tr>
                                <tr>
                                    <td>Ремонт лазерного/струйного принтера, МФУ </td>
                                    <td>6900 ₸</td>
                                </tr>
                                <tr>
                                    <td>Сложный ремонт лазерного/струйного принтера, МФУ</td>
                                    <td>14750 ₸</td>
                                </tr>
                                <tr>
                                    <td>Замена термопленки, нижнего вала, тормозной площадки, ролика захвата бумаги и пр.</td>
                                    <td>2950 ₸</td>
                                </tr>   
                                <tr>
                                    <td>Подключение и настройка оборудования(принтер, плоттер, сканер, интерактивные доски, проекционные экраны и пр.)</td>
                                    <td>9500 ₸</td>
                                </tr>
                                <tr>
                                    <td>Монтаж/демонтаж мультимедийного оборудования (проектор, TV, LCD и плазменная панель, интерактивной доски, проекционного экрана и пр.) </td>
                                    <td>12 500 ₸</td>
                                </tr>
                                </table> 
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>         
{%endblock%}